aiohappyeyeballs
aiohttp
aiosignal
appnope
asttokens
attrs
certifi
charset-normalizer
comm
contourpy
cycler
datasets
debugpy
decorator
dill
executing
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
setuptools
six
stack-data
sympy
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
